.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    text-align: center;
}

body{
    background-color: pink;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid black;
    height: 300px;
    width: 365px;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: lightgray;
}

.cool-text{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: -20px;
    width: 100.8%;
    margin-left: -8px;
    font-family: "Malgun Gothic";
    font-size: 75px;
    font-weight: bold;
    background-color: white;
    border-bottom: solid black 2px;
}

.delete-button{
    font-size: 20px;
    padding: 10px;
    background-color: red;
    border: solid black 2px;
    width: 50%;
    color: black;
    text-decoration-line: none;
}

.update-button{
    font-size: 20px;
    padding: 10px;
    border: solid black 2px;
    background-color: royalblue;
    color: black;
    text-decoration-line: none;
    width: 50%;
}

.button-section{
    margin-top: 163px;
    border: solid black 2px;
    width: 100%;
    margin-left: -2px;
    height: 50px;
    display: flex;
    justify-self: auto;
}

.create-button{
    font-size: 20px;
    padding: 10px;
    border: green;
    background-color: green;
    border-radius: 30px;
    color: black;
    text-decoration-line: none;
    display: flex;
    width: 20%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

